@media only screen and (max-width: 414px) {
    .grades input {
        margin-top: 3%;
    }

    .remove_subject button {
        margin-top: 12%;
    }


    .submit {
        margin-top: 10%;
    }


    .header {
        height: 100px;
        font-size: 13px;
        margin-bottom: 50px;

    }

    .grade_flex {
        position: relative;
    }

    .subject_list {
        position: fixed;
        top: 50%;
        left: 50%;
        right: 50%;
        bottom: 50%;
        transform: translate(-50%, -50%);
    }

    #legg_til_fag {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 240px) {
    .header h1 {
        font-size: 20px;
    }

    .main_content_pack {
        width: 220px;
    }

}